<!DOCTYPE html>
<html>
  <head>
    <title>Terms & Conditions</title>
    <link rel="icon" type="image/png"sizes="48x48" href="https://i.postimg.cc/ZnsgcwyR/arlogo.png">

   
  </head>
  <body>
      <section id="developer" style="padding: 20px; background-color: #f9f9f9; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="thankyou-text" style="font-family: Arial, sans-serif; font-size: 14px; line-height: 1.6; color: #333;">
        <p style="margin: 20px 0;">
            <br><br>
            <b>Terms &amp; Conditions</b>
        </p>
        <hr style="border: none; border-top: 1px solid #ddd; margin: 10px 0;">
        <br>
        <p>Please be advised that accessing or utilizing the landing page implies the user's consent to abide by the following terms and conditions:</p>
        <br>
        <b style="font-size: 16px;">Intellectual Property</b>
        <p style="margin-top: 10px;">
            All content, images, logos, and other materials on this landing page are the property of the respective project developer or its licensors. These properties are safeguarded by intellectual property laws, and users are expressly prohibited from copying, altering, distributing, or utilizing any content without obtaining prior written permission.
        </p>
        <br>
        <b style="font-size: 16px;">Property Information</b>
        <p style="margin-top: 10px;">
            This landing page's content, which includes details of the properties, costs, and availability, is subject to change at any time. The Company is not responsible for any inaccuracies or omissions in the information provided.
        </p>
        <br>
        <b style="font-size: 16px;">User Obligations</b>
        <p style="margin-top: 10px;">
            Users are obligated to furnish accurate and current information when submitting inquiries or requests via the landing page. Additionally, users must commit to refraining from engaging in any unlawful or harmful activities, such as hacking, spamming, or transmitting malicious software.
        </p>
        <br>
        <b style="font-size: 16px;">Privacy and Data Collection</b>
        <p style="margin-top: 10px;">
            The Company may collect, store, and use your personal information in accordance with its privacy policy, which is available at HomeBazaar Services Pvt. Ltd. We may use third-party services or tracking technologies, such as cookies or analytics tools, to collect information about your use of this landing page.
        </p>
        <br>
        <b style="font-size: 16px;">Disclaimer of Liability</b>
        <p style="margin-top: 10px;">
            The Company explicitly disclaims liability for any damages, losses, or injuries arising from the use of the landing page or reliance on the provided information. This disclaimer extends to encompass, but is not limited to, financial losses, property damage, or any other direct or indirect damages.
        </p>
        <br>
        <b style="font-size: 16px;">Links to Third-Party Websites</b>
        <p style="margin-top: 10px;">
            This landing page may contain links to external websites or resources. We do not endorse or assume responsibility for the content, privacy practices, or availability of those third-party sites.
        </p>
        <br>
        <b style="font-size: 16px;">Modifications to the Terms</b>
        <p style="margin-top: 10px;">
            The Company may update or modify these terms and conditions at any time without prior notice. We encourage you to review these terms periodically to stay informed about any changes.
        </p>
        <br>
        <b style="font-size: 16px;">Governing Law and Jurisdiction</b>
        <p style="margin-top: 10px;">
            Any legal disputes arising from your use of this landing page will be governed by the laws of the State of Maharashtra and will be resolved in the courts of Mumbai.
        </p>
        <br>
    </div>
</section>

  </body>
</html>