<!DOCTYPE html>
<html>
  <head>
    <title>Privacy Policies</title>
    <link rel="icon" type="image/png"sizes="48x48" href="https://i.postimg.cc/ZnsgcwyR/arlogo.png">

  </head>
  <body>
      <section id="developer" style="padding: 20px; background-color: #f9f9f9; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="thankyou-text" style="font-family: Arial, sans-serif; font-size: 14px; line-height: 1.6; color: #333;">
        <p style="margin: 20px 0;">
            <br><br>
            <b>Privacy Policies</b>
        </p>
        <hr style="border: none; border-top: 1px solid #ddd; margin: 10px 0;">
        <br>
        <p>This website is not the official one; it is only meant to be used for informative purposes. In our commitment to safeguarding your personal information, we have formulated this comprehensive privacy policy to protect your interests and data on our website.</p>
        <br>
        <b style="font-size: 16px;">Update of Privacy Policy</b>
        <p style="margin-top: 10px;">
            This privacy policy is open to revision and review at any time, without notification or consent. Therefore, please re-visit the website and regularly go through the terms and conditions of this privacy policy to stay informed about the modifications that have been made.
        </p>
        <br>
        <b style="font-size: 16px;">User Information</b>
        <p style="margin-top: 10px;">
            By accessing our website, you accept our terms and give permission for us to collect and use any information you voluntarily submit. While certain visits might not require personal information, others could in order to provide access to particular links or websites. We use the information you have given us to deliver information and updates, confirm receipt of your message, and offer pertinent goods and services. We do not share personal information with outside parties, and you have the option to unsubscribe from our email list.
        </p>
        <br>
        <b style="font-size: 16px;">Security</b>
        <p style="margin-top: 10px;">
            Sensitive information is encrypted during transmission between the client and server. We restrict employee access to your personal information and hold them to high levels of confidentiality. We may use cookies for security, session continuity, and customization purposes. Rejecting cookies may limit your access to certain services or features.
        </p>
        <br>
        <p>For questions or suggestions regarding this privacy statement or your dealings with this website, please contact us.</p>
        <br>
        <p>This website is not the official one; it is only meant to be used for informative purposes.</p>
    </div>
</section>

  </body>
</html>